<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	cropToFit="true"
	galleryTitle="EL 2 Porfolio Buddha Class"

>
  <image imageURL="images/Grade 2 Aaragon 1.jpg"
	thumbURL="thumbs/Grade 2 Aaragon 1.jpg"
	linkURL="images/Grade 2 Aaragon 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Aaragon 1.jpg">
    <title><![CDATA[Grade 2 Aaragon 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Aaragon 2.jpg"
	thumbURL="thumbs/Grade 2 Aaragon 2.jpg"
	linkURL="images/Grade 2 Aaragon 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Aaragon 2.jpg">
    <title><![CDATA[Grade 2 Aaragon 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Aerith 1.jpg"
	thumbURL="thumbs/Grade 2 Aerith 1.jpg"
	linkURL="images/Grade 2 Aerith 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Aerith 1.jpg">
    <title><![CDATA[Grade 2 Aerith 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Aerith 2.jpg"
	thumbURL="thumbs/Grade 2 Aerith 2.jpg"
	linkURL="images/Grade 2 Aerith 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Aerith 2.jpg">
    <title><![CDATA[Grade 2 Aerith 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Albert 1.jpg"
	thumbURL="thumbs/Grade 2 Albert 1.jpg"
	linkURL="images/Grade 2 Albert 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Albert 1.jpg">
    <title><![CDATA[Grade 2 Albert 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Albert 2.jpg"
	thumbURL="thumbs/Grade 2 Albert 2.jpg"
	linkURL="images/Grade 2 Albert 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Albert 2.jpg">
    <title><![CDATA[Grade 2 Albert 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Aldrich 1.jpg"
	thumbURL="thumbs/Grade 2 Aldrich 1.jpg"
	linkURL="images/Grade 2 Aldrich 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Aldrich 1.jpg">
    <title><![CDATA[Grade 2 Aldrich 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Alldrich 2.jpg"
	thumbURL="thumbs/Grade 2 Alldrich 2.jpg"
	linkURL="images/Grade 2 Alldrich 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Alldrich 2.jpg">
    <title><![CDATA[Grade 2 Alldrich 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Cain 1.jpg"
	thumbURL="thumbs/Grade 2 Cain 1.jpg"
	linkURL="images/Grade 2 Cain 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Cain 1.jpg">
    <title><![CDATA[Grade 2 Cain 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Cain 2.jpg"
	thumbURL="thumbs/Grade 2 Cain 2.jpg"
	linkURL="images/Grade 2 Cain 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Cain 2.jpg">
    <title><![CDATA[Grade 2 Cain 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Charlotte 1.jpg"
	thumbURL="thumbs/Grade 2 Charlotte 1.jpg"
	linkURL="images/Grade 2 Charlotte 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Charlotte 1.jpg">
    <title><![CDATA[Grade 2 Charlotte 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Charlotte 2.jpg"
	thumbURL="thumbs/Grade 2 Charlotte 2.jpg"
	linkURL="images/Grade 2 Charlotte 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Charlotte 2.jpg">
    <title><![CDATA[Grade 2 Charlotte 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Christoper 1.jpg"
	thumbURL="thumbs/Grade 2 Christoper 1.jpg"
	linkURL="images/Grade 2 Christoper 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Christoper 1.jpg">
    <title><![CDATA[Grade 2 Christoper 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Christoper 2.jpg"
	thumbURL="thumbs/Grade 2 Christoper 2.jpg"
	linkURL="images/Grade 2 Christoper 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Christoper 2.jpg">
    <title><![CDATA[Grade 2 Christoper 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Cleon 1.jpg"
	thumbURL="thumbs/Grade 2 Cleon 1.jpg"
	linkURL="images/Grade 2 Cleon 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Cleon 1.jpg">
    <title><![CDATA[Grade 2 Cleon 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Cleon 2.jpg"
	thumbURL="thumbs/Grade 2 Cleon 2.jpg"
	linkURL="images/Grade 2 Cleon 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Cleon 2.jpg">
    <title><![CDATA[Grade 2 Cleon 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Cliv 1.jpg"
	thumbURL="thumbs/Grade 2 Cliv 1.jpg"
	linkURL="images/Grade 2 Cliv 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Cliv 1.jpg">
    <title><![CDATA[Grade 2 Cliv 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Cliv 2.jpg"
	thumbURL="thumbs/Grade 2 Cliv 2.jpg"
	linkURL="images/Grade 2 Cliv 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Cliv 2.jpg">
    <title><![CDATA[Grade 2 Cliv 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Elaine 1.jpg"
	thumbURL="thumbs/Grade 2 Elaine 1.jpg"
	linkURL="images/Grade 2 Elaine 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Elaine 1.jpg">
    <title><![CDATA[Grade 2 Elaine 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Faegan 1.jpg"
	thumbURL="thumbs/Grade 2 Faegan 1.jpg"
	linkURL="images/Grade 2 Faegan 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Faegan 1.jpg">
    <title><![CDATA[Grade 2 Faegan 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Faegan 2.jpg"
	thumbURL="thumbs/Grade 2 Faegan 2.jpg"
	linkURL="images/Grade 2 Faegan 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Faegan 2.jpg">
    <title><![CDATA[Grade 2 Faegan 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Felice 1.jpg"
	thumbURL="thumbs/Grade 2 Felice 1.jpg"
	linkURL="images/Grade 2 Felice 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Felice 1.jpg">
    <title><![CDATA[Grade 2 Felice 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Felice 2.jpg"
	thumbURL="thumbs/Grade 2 Felice 2.jpg"
	linkURL="images/Grade 2 Felice 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Felice 2.jpg">
    <title><![CDATA[Grade 2 Felice 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Felisha 1.jpg"
	thumbURL="thumbs/Grade 2 Felisha 1.jpg"
	linkURL="images/Grade 2 Felisha 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Felisha 1.jpg">
    <title><![CDATA[Grade 2 Felisha 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Felisha 2.jpg"
	thumbURL="thumbs/Grade 2 Felisha 2.jpg"
	linkURL="images/Grade 2 Felisha 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Felisha 2.jpg">
    <title><![CDATA[Grade 2 Felisha 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/grade 2 hardi 1.jpg"
	thumbURL="thumbs/grade 2 hardi 1.jpg"
	linkURL="images/grade 2 hardi 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\grade 2 hardi 1.jpg">
    <title><![CDATA[grade 2 hardi 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Hardi 2.jpg"
	thumbURL="thumbs/Grade 2 Hardi 2.jpg"
	linkURL="images/Grade 2 Hardi 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Hardi 2.jpg">
    <title><![CDATA[Grade 2 Hardi 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Jocelyn 1.jpg"
	thumbURL="thumbs/Grade 2 Jocelyn 1.jpg"
	linkURL="images/Grade 2 Jocelyn 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Jocelyn 1.jpg">
    <title><![CDATA[Grade 2 Jocelyn 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Jocelyn 2.jpg"
	thumbURL="thumbs/Grade 2 Jocelyn 2.jpg"
	linkURL="images/Grade 2 Jocelyn 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Jocelyn 2.jpg">
    <title><![CDATA[Grade 2 Jocelyn 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Lachelle 1.jpg"
	thumbURL="thumbs/Grade 2 Lachelle 1.jpg"
	linkURL="images/Grade 2 Lachelle 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Lachelle 1.jpg">
    <title><![CDATA[Grade 2 Lachelle 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Lachelle 2.jpg"
	thumbURL="thumbs/Grade 2 Lachelle 2.jpg"
	linkURL="images/Grade 2 Lachelle 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Lachelle 2.jpg">
    <title><![CDATA[Grade 2 Lachelle 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Richelle 1.jpg"
	thumbURL="thumbs/Grade 2 Richelle 1.jpg"
	linkURL="images/Grade 2 Richelle 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Richelle 1.jpg">
    <title><![CDATA[Grade 2 Richelle 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Richelle 2.jpg"
	thumbURL="thumbs/Grade 2 Richelle 2.jpg"
	linkURL="images/Grade 2 Richelle 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Richelle 2.jpg">
    <title><![CDATA[Grade 2 Richelle 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Shera 1.jpg"
	thumbURL="thumbs/Grade 2 Shera 1.jpg"
	linkURL="images/Grade 2 Shera 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Shera 1.jpg">
    <title><![CDATA[Grade 2 Shera 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Shera 2.jpg"
	thumbURL="thumbs/Grade 2 Shera 2.jpg"
	linkURL="images/Grade 2 Shera 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Shera 2.jpg">
    <title><![CDATA[Grade 2 Shera 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Tian Xu Qian 1.jpg"
	thumbURL="thumbs/Grade 2 Tian Xu Qian 1.jpg"
	linkURL="images/Grade 2 Tian Xu Qian 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Tian Xu Qian 1.jpg">
    <title><![CDATA[Grade 2 Tian Xu Qian 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Tian Xu Qian 2.jpg"
	thumbURL="thumbs/Grade 2 Tian Xu Qian 2.jpg"
	linkURL="images/Grade 2 Tian Xu Qian 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Tian Xu Qian 2.jpg">
    <title><![CDATA[Grade 2 Tian Xu Qian 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Xheileen 1.jpg"
	thumbURL="thumbs/Grade 2 Xheileen 1.jpg"
	linkURL="images/Grade 2 Xheileen 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Xheileen 1.jpg">
    <title><![CDATA[Grade 2 Xheileen 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Xheileen 2.jpg"
	thumbURL="thumbs/Grade 2 Xheileen 2.jpg"
	linkURL="images/Grade 2 Xheileen 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Xheileen 2.jpg">
    <title><![CDATA[Grade 2 Xheileen 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Yvanna 1.jpg"
	thumbURL="thumbs/Grade 2 Yvanna 1.jpg"
	linkURL="images/Grade 2 Yvanna 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Yvanna 1.jpg">
    <title><![CDATA[Grade 2 Yvanna 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Yvanna 2.jpg"
	thumbURL="thumbs/Grade 2 Yvanna 2.jpg"
	linkURL="images/Grade 2 Yvanna 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Yvanna 2.jpg">
    <title><![CDATA[Grade 2 Yvanna 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade 2 Zurine 2.jpg"
	thumbURL="thumbs/Grade 2 Zurine 2.jpg"
	linkURL="images/Grade 2 Zurine 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade 2 Zurine 2.jpg">
    <title><![CDATA[Grade 2 Zurine 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade Elaine 2.jpg"
	thumbURL="thumbs/Grade Elaine 2.jpg"
	linkURL="images/Grade Elaine 2.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade Elaine 2.jpg">
    <title><![CDATA[Grade Elaine 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Grade Zurine 1.jpg"
	thumbURL="thumbs/Grade Zurine 1.jpg"
	linkURL="images/Grade Zurine 1.jpg"
	linkTarget="_blank"
	sourcePath="Y:\For Mr.Yusak\dari Mr. Ali projek ECY 1-3 and EL 1-6\EL 2 Friends book\Grade Zurine 1.jpg">
    <title><![CDATA[Grade Zurine 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>